<% const d = new Date() 
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 APP</p>
  <a href="/error" title="Don't click this or you will get an error!!">ERROR!</a>
</footer>
